<div class="CrossIcon" (click) = "cancel()">
  <ion-icon name="close-outline"></ion-icon>
</div>

<div class="box">
  <p id ="txt">{{'clear' | language : 'Clear'}}</p>
  <ion-row>
    <div class="card">
      <img src="assets/icon/filter-modal1.svg">
      <p>{{'InventoryManagement ' | language : 'Inventory Management'}}</p>
    </div>
    <div class="card">
      <img src="assets/icon/filter-modal2.svg">
      <p>{{'OrderManagement ' | language : 'Order Management'}}</p>
    </div>
    <div class="card">
      <img src="assets/icon/filter-modal3.svg">
      <p>{{'procurementmanager' | language : 'Procurement Management'}}</p>
    </div>
    <div class="card">
      <img src="assets/icon/truck.svg">
      <p>{{'DeliveryManagement ' | language : 'Delivery Management'}}</p>
    </div>
  </ion-row>
  <ion-row>
    <div class="card">
      <img src="assets/icon/filter-modal4.svg">
      <p>{{'financemanager' | language : 'Finance Management'}}</p>
    </div>
    <div class="card">
      <img src="assets/icon/filter-modal5.svg">
      <p>{{'posexecutive' | language : 'PoS Executive'}}</p>
    </div>
    <div class="card">
      <img src="assets/icon/filter-modal6.svg">
      <p>{{'storemanager' | language : 'Store Manager'}}</p>
    </div>
    <div class="card" id="trans">
      <img src="assets/icon/filter-modal6.svg">
      <p>{{'storemanager' | language : 'Store Manager'}}</p>
    </div>
  </ion-row>
</div>
