<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin" (click)="dismissModal()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'helpVideo' | language : 'Help Video'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="videoPlayer">
    <iframe width="380" height="300" [src]="url" title="Sarvm"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
  </div>
</ion-content>